.CardExpertise {
  border: 2px solid var(--clr-primary-300);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 0.6rem;
  background-color: var(--clr-primary-700);

  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      font-size: 2rem;
      font-weight: bold;

      span {
        margin-left: 0.5rem;

        &.small {
          font-size: 1rem;
        }

        &.accent {
          color: var(--clr-primary-400);
        }
      }
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .links {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: underline;
    }
  }
}
