$bpHideAside: 900px;

.aside {
  z-index: 1;

  &--parent {
    position: sticky;
    top: 1rem;

    width: calc(100% - 2rem);
    height: 100vh;
    height: calc(100dvh - 2rem);

    display: grid;
    align-items: center;
    grid-template-rows: 1fr;

    border: 1px solid var(--clr-border);
    border-radius: 1.25rem;

    overflow: hidden;
    transition: 200ms;

    margin: 1rem;
    padding-inline: 2rem;
    padding-block: 1.5rem;
  }

  &--container {
    height: min(900px, 100%);
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    & > * {
      width: 100%;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--logo {
      font-size: 2rem;
      font-weight: bold;
    }

    &--role {
      font-size: 0.8rem;
      text-align: end;
    }

    &--avatar {
      width: 50px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      display: none;
    }
  }

  &__avatar {
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
  }

  &__text-primary {
    font-size: 1rem;
    font-weight: bold;
  }

  &__text-secondary {
    font-size: 12px;
    opacity: 0.7;
  }

  &__icons {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    flex-grow: 1;

    a {
      $size: 40px;

      display: grid;
      place-items: center;
      border: 1px solid var(--clr-font-secondary);
      width: $size;
      height: $size;
      border-radius: 100%;
      transition: 200ms;

      svg {
        $size: 14px;

        fill: var(--clr-font-secondary);
        width: $size;
        height: $size;
      }

      &:hover {
        border: 1px solid var(--clr-accent);
        svg {
          fill: var(--clr-accent);
        }
      }
    }
  }

  @media screen and (max-width: $bpHideAside) {
    min-height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;

    &--parent {
      height: fit-content;
      align-items: baseline;
    }

    &--container {
      height: fit-content;
      row-gap: 1rem;
    }

    &__heading {
      margin-bottom: 0;
      &--role {
        display: none;
      }

      &--avatar {
        display: block;
      }
    }

    &__avatar {
      display: none;
    }

    &__text-secondary {
      display: none;
    }
  }
}
