$bpHideAside: 900px;

.aside {
  min-height: 100vh;
  min-height: 100dvh;
  transition: 200ms;
  position: relative;

  padding: 1rem;

  @media screen and (max-width: $bpHideAside) {
    position: fixed;
    right: 0;
    left: auto;
    width: 100vw;
    z-index: 20;
    background-color: var(--clr-background);

    &--toggler {
      display: block !important;

      button {
        transform: rotate(180deg);
      }
    }

    &.invisiblee {
      right: -100%;

      .aside--toggler {
        button {
          transform: rotate(0);
        }
      }
    }
  }

  &--container {
    height: min(1000px, calc(100dvh - 2rem));
    width: 100%;
    position: sticky;
    top: 1rem;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;

    border: 1px solid var(--clr-border);
    border-radius: 1.25rem;
    padding-block: 2rem;
    padding-inline: 2.25rem;

    & > * {
      width: 100%;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--logo {
      font-size: 2rem;
      font-weight: bold;
    }

    &--role {
      font-size: 0.8rem;
      text-align: end;
    }
  }

  &__avatar {
    border-radius: inherit;
    // mix-blend-mode: luminosity;
  }

  &__text-primary {
    font-size: 1rem;
    font-weight: bold;
  }

  &__text-secondary {
    font-size: 12px;
    opacity: 0.7;
  }

  &__icons {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    flex-grow: 1;

    a {
      $size: 40px;

      display: grid;
      place-items: center;
      border: 1px solid var(--clr-font-secondary);
      width: $size;
      height: $size;
      border-radius: 100%;
      transition: 200ms;

      svg {
        $size: 14px;

        fill: var(--clr-font-secondary);
        width: $size;
        height: $size;
      }

      &:hover {
        border: 1px solid var(--clr-accent);
        svg {
          fill: var(--clr-accent);
        }
      }
    }
  }

  &--toggler {
    background-color: var(--clr-background);
    border: 1px solid var(--clr-border);
    border-inline-end: none !important;
    border-radius: 1rem 0 0 1rem !important;
    position: fixed !important;
    top: 2rem;
    right: 0;
    z-index: 100 !important;
    display: none;
  }
}
