.button {
  border: 1px solid var(--clr-primary-300);
  padding: min(2vw, 0.75rem) min(4vw, 1.5rem);
  text-align: center;
  border-radius: 10px;
  transition: 100ms;
  display: inline-block;

  &:hover {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-700);
  }
}
