.introduction {
  &__title {
    font-size: min(4rem, 13vw);
    line-height: 1.1;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: min(0.85rem, 3.5vw);
    margin-bottom: 1rem;
  }

  &__floating-btn {
    font-size: 0.9rem;
    width: min(125px, 28vw);
    height: min(125px, 28vw);
    border: 1px solid var(--clr-border);
    border-radius: 100%;
    position: relative;
    letter-spacing: 1.5px;
    background-color: #000;

    &--container {
      display: block;
      text-align: end;
      margin-inline-end: 10vw;
    }

    .center-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    svg.curved {
      fill: white;
      opacity: 0.8;
      animation: circleAnimation 10s linear infinite;
    }
  }

  &__stats {
    display: flex;
    column-gap: 3rem;

    li {
      display: flex;
      flex-direction: column;

      span:nth-child(1) {
        font-size: min(4.5rem, 13vw);
      }

      span:nth-child(2) {
        font-size: min(0.85rem, 3.5vw);
      }
    }
  }
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
