.contact-page {
  ul {
    li {
      display: flex;
      align-items: center;
      gap: min(2vw, 1rem);

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      div {
        $size: 60px;
        width: $size;
        height: $size;
        border: 2px solid var(--clr-primary-500);
        padding: 0.25rem;
        border-radius: 10px;
      }

      a {
        line-height: 1;
      }
    }
  }
}
