.projects-page {
  padding-inline: 0.5rem;

  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
  }
}
