.work-experience-container {
  $breakpoint-layout-shift: 1050px;
  border-left: 1px solid var(--clr-border);

  .work-exp {
    position: relative;
    width: 100%;
    padding-left: min(4rem, 8vw);

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    &--timespan {
      font-size: 0.9rem;
      transform: translateY(-11px);
    }

    &--icon {
      $size: 10px;

      position: absolute;
      transform: translate(-50%, -50%);
      left: 0;
      border-radius: 50%;
      width: $size;
      height: $size;
      display: grid;
      place-items: center;
      background: var(--clr-accent);
    }

    &--title {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      margin-bottom: 0.5rem;
      align-items: center;
      justify-content: space-between;
      line-height: 1;
      font-size: min(8vw, 2rem);
      font-weight: bold;
    }

    &--company {
      font-size: 0.8rem;
    }
  }
}
