.introduction-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.5rem;

  > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .avatar {
    border-radius: 100%;
    width: min(40vw, 225px);
    aspect-ratio: 1;
    box-shadow: 0px 5px 10px 0px var(--clr-primary-400);
    transition: 200ms;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 10px 20px 2px var(--clr-primary-400);
    }
  }

  .main-title {
    font-size: min(9vw, 4rem);
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;

    font-family: 'Courier New', Courier, monospace;

    &-container {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      flex-wrap: wrap;
    }
  }

  .about-me {
    text-align: justify;
    max-width: 100ch;
  }
}
