.root {
  display: grid;
  grid-template-columns: 400px 5% 1fr 150px;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
  height: 100vh;

  // for each page
  main {
    padding-inline: 0.5rem;
    overflow-y: auto;
    max-height: 100dvh;
    grid-column: 3;
    padding-block: 3rem;
  }
}
