.root {
  display: grid;
  grid-template-columns: 350px 1fr;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;

  // for each page
  main {
    padding: 0.5rem;
    overflow-y: auto;
    max-height: 100dvh;
    grid-column: 2;
  }
}
