.root {
  display: grid;
  grid-template-columns: 400px 10% 1fr 175px;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;

  // for each page
  main {
    padding-inline: 0.5rem;
    grid-column: 3;
    padding-block: 3rem;
  }
}
