$bpHideAside: 900px;

.landing {
  display: grid;
  grid-template-columns: 1fr 13vw;

  @media screen and (max-width: $bpHideAside) {
    grid-template-columns: 1fr;
  }

  main {
    padding-inline-end: min(1rem, 5vw);
  }
}
