$bpHideAside: 900px;

.navigation {
  display: grid;
  place-items: center;
  height: 100dvh;
  position: sticky;
  top: 0;

  @media screen and (max-width: $bpHideAside) {
    position: fixed;
    z-index: 10;
    right: 0;
    left: initial;

    ul {
      background-color: var(--clr-background);
      border-inline-end: none !important;
      border-radius: 1rem 0 0 1rem !important;
      padding-inline: 0 !important;
    }
  }

  ul {
    border: 1px solid var(--clr-border);
    padding: 0.3rem;
    border-radius: 100vmax;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    li {
      &:hover {
        svg {
          fill: var(--clr-accent);
        }
      }
    }

    svg {
      fill: var(--clr-font-secondary);
      transition: 200ms;
    }
  }
}
