$bpHideAside: 900px;

.navigation {
  position: relative;
  min-height: 100vh;
  min-height: 100lvh;
  transition: 400ms;

  display: grid;
  justify-content: center;

  @media screen and (max-width: $bpHideAside) {
    display: none;
  }

  .back-to-top {
    border: 1px solid var(--clr-border);
    border-radius: 100vmax;

    &:hover {
      svg {
        fill: var(--clr-accent);
      }
    }
  }

  ul {
    border: 1px solid var(--clr-border);
    padding: 0.3rem;
    border-radius: 100vmax;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;

    li {
      &:hover {
        svg {
          fill: var(--clr-accent);
        }
      }
    }
  }

  svg {
    fill: var(--clr-font-secondary);
    transition: 200ms;
  }
}
