.navigation {
  position: sticky;
  top: 1rem;
  left: 1rem;
  height: calc(100dvh - 2rem);
  display: grid;
  place-items: center;

  ul {
    border: 1px solid var(--clr-border);
    padding: 0.3rem;
    border-radius: 100vmax;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    li {
      &:hover {
        svg {
          fill: var(--clr-accent);
        }
      }
    }

    svg {
      fill: var(--clr-font-secondary);
      transition: 200ms;
    }
  }
}
