@import '@/assets/styles/reset.css';
@import '@/assets/styles/variables.css';

body {
  background-color: black;
  color: var(--clr-font-primary);
  height: 100vh;
  position: relative;
}

#main-background-image {
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
