@import '@/assets/styles/reset.css';
@import '@/assets/styles/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--clr-font-primary);
  height: 100vh;

  & > div {
    position: relative;
  }
}

#main-background-image {
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
