.application {
  padding-left: min(21vw, 13.5rem);
  display: flex;
  position: relative;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;

  .pages-container {
    width: 100%;
    min-height: 100vh;
    padding-block: 2rem;
    padding-inline: 0.75rem;
    display: grid;
    place-items: center;
    color: var(--clr-primary-300);

    & > div {
      width: 100%;
    }
  }
}
