.application {
  padding-left: 14.5rem;
  display: flex;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url('/tile.png');
    inset: 0;
    opacity: 0.2;
  }

  .pages-container {
    width: 100%;
    min-height: 100vh;
    padding: 1.5rem;
    padding-left: 0;
    display: grid;
    place-items: center;
    color: var(--clr-primary-300);

    & > div {
      width: 100%;
    }
  }
}
