.expertise-page {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  .action-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
