.expertise-page {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 1000px;

  // do not remove two lines below
  overflow: hidden;
  width: 100%;

  > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
