.NavigationMenu {
  width: min(20vw, 11.5rem);

  position: fixed;
  left: min(1vw, 2rem);
  top: 0;
  bottom: 0;

  font-size: clamp(14px, 3vw, 1.1rem);
  color: var(--clr-primary-400);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    width: 100%;
    position: relative;
    margin-block: 1rem;

    &.filler {
      flex-grow: 1;
      background-color: var(--clr-primary-900);
      max-height: 1rem;
      margin: 0;

      &:first-child,
      &:last-child {
        max-height: initial;
      }
    }

    a {
      transition: 300ms;
      background-color: var(--clr-primary-900);

      text-align: center;
      height: 70px;

      display: grid;
      align-items: center;

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 1rem;
        width: 100%;
        background-color: var(--clr-primary-900);
      }

      &::after {
        top: 100%;
      }

      &::before {
        bottom: 100%;
      }

      &.active,
      &:hover {
        font-size: clamp(14px, 4vw, 1.25rem);
        background-color: transparent;
        color: var(--clr-primary-300);

        &::after {
          border-top-left-radius: 100vmax;
          border-top-right-radius: 100vmax;
          border-top: 1px solid var(--clr-primary-400);
          box-shadow: 0px -8px 6px -4px var(--clr-primary-400);
          z-index: -1;
        }

        &::before {
          border-bottom-left-radius: 100vmax;
          border-bottom-right-radius: 100vmax;
          border-bottom: 1px solid var(--clr-primary-400);
          box-shadow: 0px 8px 6px -4px var(--clr-primary-400);
          z-index: -1;
        }
      }
    }
  }
}
